include mixins
doctype html
html(lang='ru').nicescrollBlock_(data-rails_class='nicescroll_v1')
	+dev_head('Луговской')

	body
		header.header
			.header_inner.clearfix
				a.logo(href='#')
					span.color_green L
					| UGOVSK
					span.logo_emphasis O
					| Y
				ul.main_menu
					li.menu_item
						a.menu_link.active(href='#section_1')
							span.link_text Главная
					li.menu_item
						a.menu_link(href='#section_2')
							span.link_text Питомник
					li.menu_item
						a.menu_link(href='#section_3')
							span.link_text Дрессировка
					li.menu_item
						a.menu_link(href='#section_4')
							span.link_text Услуги и цены
					li.menu_item
						a.menu_link(href='#section_5')
							span.link_text Контакты

		main.wrapper

			section#section_1.sectionWP
				.section_w.first_section
					.section_inner.section_v_middle
						h1.gl_caption.text_center.fz_36.color_white.fw_300.ls_-02 Профессиональный питомник, дрессировка,<br>охотничее и служебное собаководсво.

					a.btn_v1.start_btn.btn_transp_red.text_upper.color_white.fw_700.fz_16.scrollTo(href='#section_2') Начать

			section#section_2.sectionWP
				.section_w.second_section
					.section_inner.section_v_top.tabsBlock
						ul.gl_list.tab_switcher.clearfix.fz_14.text_center.tab_switcher_brown_mod
							li.gl_l_item.tab_item
								a.gl_link(href="#tab_1") О себе
							li.gl_l_item.tab_item
								a.gl_link(href="#tab_2") Питомник

						#tab_1.tab_unit
							h2.gl_caption.about_caption.text_center.fz_36.fw_300.ls_-1 Луговской Александр Владимирович 
							p.text_center.fw_100.fz_18.ls_-05 Професиональный дрессировщик высшей категории. <br>Собственный питомник в деревне Больсуново, Россия, Московская область.
							.person_photo_w
								img.person_img(src='i/lugovskoy.png')

						#tab_2.tab_unit
							h2.gl_caption.about_caption_v2.text_center.fz_24.fw_300.ls_-05 Питомник в Деревне Больсуново

							.nicescroll_block.size_830.h_215.nicescrollBlock(data-rails_class='nicescroll_v2')
								.about_block.fz_18
									p Настоящим, во исполнение требований Федерального закона "О персональных данных" № 152-ФЗ от 27.07.2006г., я даю ООО "Олекстра" (юридический адрес:  121609, г. Москва, Осенний бульвар, д. 23, 11 этаж) и его дочерним и зависимым обществам свое согласие на обработку моих персональных данных в целях анализа возможности заключения трудовых отношений. Настоящее согласие выдано на неопределенный срок и действует до момента получения компанией ООО "Олекстра" отзыва данного согласия, согласно законодательству. Настоящим, также подтверждаю, что ознакомлен(а) с положениями Федерального закона от 27.07.2006 № 152-ФЗ "О персональных данных", порядком отзыва согласия на обработку персональных данных, а также правами и обязанностями в области защиты персональных данных. 					

									p Настоящим, во исполнение требований Федерального закона "О персональных данных" № 152-ФЗ от 27.07.2006г., я даю ООО "Олекстра" (юридический адрес:  121609, г. Москва, Осенний бульвар, д. 23, 11 этаж) и его дочерним и зависимым обществам свое согласие на обработку моих персональных данных в целях анализа возможности заключения трудовых отношений. Настоящее согласие выдано на неопределенный срок и действует до момента получения компанией ООО "Олекстра" отзыва данного согласия, согласно законодательству. Настоящим, также подтверждаю, что ознакомлен(а) с положениями Федерального закона от 27.07.2006 № 152-ФЗ "О персональных данных", порядком отзыва согласия на обработку персональных данных, а также правами и обязанностями в области защиты персональных данных. 

									p Настоящим, во исполнение требований Федерального закона "О персональных данных" № 152-ФЗ от 27.07.2006г., я даю ООО "Олекстра" (юридический адрес:  121609, г. Москва, Осенний бульвар, д. 23, 11 этаж) и его дочерним и зависимым обществам свое согласие на обработку моих персональных данных в целях анализа возможности заключения трудовых отношений. Настоящее согласие выдано на неопределенный срок и действует до момента получения компанией ООО "Олекстра" отзыва данного согласия, согласно законодательству. Настоящим, также подтверждаю, что ознакомлен(а) с положениями Федерального закона от 27.07.2006 № 152-ФЗ "О персональных данных", порядком отзыва согласия на обработку персональных данных, а также правами и обязанностями в области защиты персональных данных. 

			section#section_3.sectionWP.mod_2
				.section_w.third_section
					.section_inner.section_v_top.tabsBlock
						ul.gl_list.tab_switcher.clearfix.fz_14.text_center.tab_switcher_red_mod
							li.gl_l_item.tab_item
								a.gl_link(href="#tab_2_1") Охотничье собаководство
							li.gl_l_item.tab_item
								a.gl_link(href="#tab_2_2") Служебное собаководство

						#tab_2_1.tab_unit.color_gray
							h2.gl_caption.about_caption_v2.text_center.fz_24.fw_300.ls_-05 Дрессировка - охотничье собаководство
							.nicescroll_block.size_830.h_215.nicescrollBlock(data-rails_class='nicescroll_v3')
								.about_block.fz_18
									p Настоящим, во исполнение требований Федерального закона "О персональных данных" № 152-ФЗ от 27.07.2006г., я даю ООО "Олекстра" (юридический адрес:  121609, г. Москва, Осенний бульвар, д. 23, 11 этаж) и его дочерним и зависимым обществам свое согласие на обработку моих персональных данных в целях анализа возможности заключения трудовых отношений. Настоящее согласие выдано на неопределенный срок и действует до момента получения компанией ООО "Олекстра" отзыва данного согласия, согласно законодательству. Настоящим, также подтверждаю, что ознакомлен(а) с положениями Федерального закона от 27.07.2006 № 152-ФЗ "О персональных данных", порядком отзыва согласия на обработку персональных данных, а также правами и обязанностями в области защиты персональных данных.
									p Настоящим, во исполнение требований Федерального закона "О персональных данных" № 152-ФЗ от 27.07.2006г., я даю ООО "Олекстра" (юридический адрес:  121609, г. Москва, Осенний бульвар, д. 23, 11 этаж) и его дочерним и зависимым обществам свое согласие на обработку моих персональных данных в целях анализа возможности заключения трудовых отношений. Настоящее согласие выдано на неопределенный срок и действует до момента получения компанией ООО "Олекстра" отзыва данного согласия, согласно законодательству. Настоящим, также подтверждаю, что ознакомлен(а) с положениями Федерального закона от 27.07.2006 № 152-ФЗ "О персональных данных", порядком отзыва согласия на обработку персональных данных, а также правами и обязанностями в области защиты персональных данных.
									p Настоящим, во исполнение требований Федерального закона "О персональных данных" № 152-ФЗ от 27.07.2006г., я даю ООО "Олекстра" (юридический адрес:  121609, г. Москва, Осенний бульвар, д. 23, 11 этаж) и его дочерним и зависимым обществам свое согласие на обработку моих персональных данных в целях анализа возможности заключения трудовых отношений. Настоящее согласие выдано на неопределенный срок и действует до момента получения компанией ООО "Олекстра" отзыва данного согласия, согласно законодательству. Настоящим, также подтверждаю, что ознакомлен(а) с положениями Федерального закона от 27.07.2006 № 152-ФЗ "О персональных данных", порядком отзыва согласия на обработку персональных данных, а также правами и обязанностями в области защиты персональных данных.

						#tab_2_2.tab_unit.color_gray
							h2.gl_caption.about_caption_v2.text_center.fz_24.fw_300.ls_-05 Дрессировка - служебное собаководство

							.nicescroll_block.size_830.h_215.nicescrollBlock(data-rails_class='nicescroll_v3')
								.about_block.fz_18
									p Настоящим, во исполнение требований Федерального закона "О персональных данных" № 152-ФЗ от 27.07.2006г., я даю ООО "Олекстра" (юридический адрес:  121609, г. Москва, Осенний бульвар, д. 23, 11 этаж) и его дочерним и зависимым обществам свое согласие на обработку моих персональных данных в целях анализа возможности заключения трудовых отношений. Настоящее согласие выдано на неопределенный срок и действует до момента получения компанией ООО "Олекстра" отзыва данного согласия, согласно законодательству. Настоящим, также подтверждаю, что ознакомлен(а) с положениями Федерального закона от 27.07.2006 № 152-ФЗ "О персональных данных", порядком отзыва согласия на обработку персональных данных, а также правами и обязанностями в области защиты персональных данных.
									p Настоящим, во исполнение требований Федерального закона "О персональных данных" № 152-ФЗ от 27.07.2006г., я даю ООО "Олекстра" (юридический адрес:  121609, г. Москва, Осенний бульвар, д. 23, 11 этаж) и его дочерним и зависимым обществам свое согласие на обработку моих персональных данных в целях анализа возможности заключения трудовых отношений. Настоящее согласие выдано на неопределенный срок и действует до момента получения компанией ООО "Олекстра" отзыва данного согласия, согласно законодательству. Настоящим, также подтверждаю, что ознакомлен(а) с положениями Федерального закона от 27.07.2006 № 152-ФЗ "О персональных данных", порядком отзыва согласия на обработку персональных данных, а также правами и обязанностями в области защиты персональных данных.
									p Настоящим, во исполнение требований Федерального закона "О персональных данных" № 152-ФЗ от 27.07.2006г., я даю ООО "Олекстра" (юридический адрес:  121609, г. Москва, Осенний бульвар, д. 23, 11 этаж) и его дочерним и зависимым обществам свое согласие на обработку моих персональных данных в целях анализа возможности заключения трудовых отношений. Настоящее согласие выдано на неопределенный срок и действует до момента получения компанией ООО "Олекстра" отзыва данного согласия, согласно законодательству. Настоящим, также подтверждаю, что ознакомлен(а) с положениями Федерального закона от 27.07.2006 № 152-ФЗ "О персональных данных", порядком отзыва согласия на обработку персональных данных, а также правами и обязанностями в области защиты персональных данных.

				.section_w.third_section
					.section_inner.carousel_section.section_v_middle_
						h2.gl_caption.about_caption.text_center.fz_24.fw_300.ls_-05.color_gray_v2 Фото питомника Больсуново

						.carousel_container.text_center
							#carousel.carousel_f_list
								.carousel-feature
									a.carousel_item(data-lightbox="roadtrip", href="i/slide_1.jpg")
										img.carousel-image(alt="Image Caption", src="i/slide_1.jpg")
								.carousel-feature
									a.carousel_item(data-lightbox="roadtrip", href="i/slide_2.jpg")
										img.carousel-image(alt="Image Caption", src="i/slide_2.jpg")
								.carousel-feature
									a.carousel_item(data-lightbox="roadtrip", href="i/slide_3.jpg")
										img.carousel-image(alt="Image Caption", src="i/slide_3.jpg")
								.carousel-feature
									a.carousel_item(data-lightbox="roadtrip", href="i/slide_1.jpg")
										img.carousel-image(alt="Image Caption", src="i/slide_1.jpg")
								.carousel-feature
									a.carousel_item(data-lightbox="roadtrip", href="i/slide_3.jpg")
										img.carousel-image(alt="Image Caption", src="i/slide_3.jpg")
								.carousel-feature
									a.carousel_item(data-lightbox="roadtrip", href="i/slide_3.jpg")
										img.carousel-image(alt="Image Caption", src="i/slide_3.jpg")
								.carousel-feature
									a.carousel_item(data-lightbox="roadtrip", href="i/slide_1.jpg")
										img.carousel-image(alt="Image Caption", src="i/slide_1.jpg")
								.carousel-feature
									a.carousel_item(data-lightbox="roadtrip", href="i/slide_3.jpg")
										img.carousel-image(alt="Image Caption", src="i/slide_3.jpg")
							i#carousel-left.carousel_control.control_left
								.carousel_control_img
									svg(version="1.1", baseprofile="full", height="24px", width="15px")
										path(d="M12.162,24 C12.162,24 15,21.1999999999998 15,21.1999999999998 C15,21.1999999999998 5.67599999999999,12 5.67599999999999,12 C5.67599999999999,12 15,2.80000000000018 15,2.80000000000018 C15,2.80000000000018 12.162,0 12.162,0 C12.162,0 0,12 0,12 C0,12 12.162,24 12.162,24 Z ")

							i#carousel-right.carousel_control.control_right
								.carousel_control_img
									svg(version="1.1", baseprofile="full", height="24px", width="15px")
										path(d="M2.83799999999997,0 C2.83799999999997,0 0,2.80000000000018 0,2.80000000000018 C0,2.80000000000018 9.32400000000007,12 9.32400000000007,12 C9.32400000000007,12 0,21.1999999999998 0,21.1999999999998 C0,21.1999999999998 2.83799999999997,24 2.83799999999997,24 C2.83799999999997,24 15,12 15,12 C15,12 2.83799999999997,0 2.83799999999997,0 Z ")

			section#section_4.sectionWP
				.section_w.forth_section
					.section_inner.section_v_top.tabsBlock
						ul.gl_list.tab_switcher.clearfix.fz_14.text_center.tab_switcher_brown_mod
							li.gl_l_item.tab_item
								a.gl_link(href="#tab_3_1") Услуги
							li.gl_l_item.tab_item
								a.gl_link(href="#tab_3_2") Цены

						#tab_3_1.tab_unit
							h2.gl_caption.about_caption_v2.text_center.fz_24.fw_300.ls_-05 Услуги питомника Больсуново
							.nicescroll_block.size_830.h_215.nicescrollBlock(data-rails_class='nicescroll_v2')
								.about_block.fz_18
									p Настоящим, во исполнение требований Федерального закона "О персональных данных" № 152-ФЗ от 27.07.2006г., я даю ООО "Олекстра" (юридический адрес:  121609, г. Москва, Осенний бульвар, д. 23, 11 этаж) и его дочерним и зависимым обществам свое согласие на обработку моих персональных данных в целях анализа возможности заключения трудовых отношений. Настоящее согласие выдано на неопределенный срок и действует до момента получения компанией ООО "Олекстра" отзыва данного согласия, согласно законодательству. Настоящим, также подтверждаю, что ознакомлен(а) с положениями Федерального закона от 27.07.2006 № 152-ФЗ "О персональных данных", порядком отзыва согласия на обработку персональных данных, а также правами и обязанностями в области защиты персональных данных. 					
										p Настоящим, во исполнение требований Федерального закона "О персональных данных" № 152-ФЗ от 27.07.2006г., я даю ООО "Олекстра" (юридический адрес:  121609, г. Москва, Осенний бульвар, д. 23, 11 этаж) и его дочерним и зависимым обществам свое согласие на обработку моих персональных данных в целях анализа возможности заключения трудовых отношений. Настоящее согласие выдано на неопределенный срок и действует до момента получения компанией ООО "Олекстра" отзыва данного согласия, согласно законодательству. Настоящим, также подтверждаю, что ознакомлен(а) с положениями Федерального закона от 27.07.2006 № 152-ФЗ "О персональных данных", порядком отзыва согласия на обработку персональных данных, а также правами и обязанностями в области защиты персональных данных. 
										p Настоящим, во исполнение требований Федерального закона "О персональных данных" № 152-ФЗ от 27.07.2006г., я даю ООО "Олекстра" (юридический адрес:  121609, г. Москва, Осенний бульвар, д. 23, 11 этаж) и его дочерним и зависимым обществам свое согласие на обработку моих персональных данных в целях анализа возможности заключения трудовых отношений. Настоящее согласие выдано на неопределенный срок и действует до момента получения компанией ООО "Олекстра" отзыва данного согласия, согласно законодательству. Настоящим, также подтверждаю, что ознакомлен(а) с положениями Федерального закона от 27.07.2006 № 152-ФЗ "О персональных данных", порядком отзыва согласия на обработку персональных данных, а также правами и обязанностями в области защиты персональных данных. 

						#tab_3_2.tab_unit
							table.price_table.fw_500
								tr.price_table_row
									th.price_table_head
										span Наименование услуги
									th.price_table_head
										span Стоимость

								tr.price_table_row
									td.price_table_cell Обучение команд (домашняя собака)
									td.price_table_cell 5 000 руб./ч
								tr.price_table_row
									td.price_table_cell Обучение для охраны объекта (рабочаяя собака)
									td.price_table_cell 10 000 руб./ч
								tr.price_table_row
									td.price_table_cell Дрессировка охотничих собак
									td.price_table_cell 5 000 руб./день


								tr.price_table_row
									td.price_table_cell &nbsp;
									td.price_table_cell &nbsp;
								tr.price_table_row
									td.price_table_cell &nbsp;
									td.price_table_cell &nbsp;
								tr.price_table_row
									td.price_table_cell &nbsp;
									td.price_table_cell &nbsp;
								tr.price_table_row
									td.price_table_cell &nbsp;
									td.price_table_cell &nbsp;

							.fz_14.color_red.text_center.text_upper Задать вопросы и узнать подробности можно по телефону
									
			section#section_5.sectionWP.mapSection
				.section_w.fifth_section
					//.map_info_hide_btn.section_mod.mapInfoShow
						.map_info_hide_icon
							svg(version="1.1", baseprofile="full", height="23px", width="25px")
								path( d="M15.3,19.1049999999996 C20.657,19.1049999999996 25,14.8280000000004 25,9.55299999999988 C25,4.27700000000004 20.657,0 15.3,0 C15.3,0 4.947,0 4.947,0 C4.947,0 4.947,4.05400000000009 4.947,4.05400000000009 C4.947,4.05400000000009 15.3,4.05400000000009 15.3,4.05400000000009 C18.383,4.05400000000009 20.884,6.51500000000033 20.884,9.55299999999988 C20.884,12.5900000000001 18.383,15.0510000000004 15.3,15.0510000000004 C15.3,15.0510000000004 8.65700000000004,15.0510000000004 8.65700000000004,15.0510000000004 C8.65700000000004,15.0510000000004 8.65700000000004,12.1559999999999 8.65700000000004,12.1559999999999 C8.65700000000004,12.1559999999999 0,17.0780000000004 0,17.0780000000004 C0,17.0780000000004 8.65700000000004,22 8.65700000000004,22 C8.65700000000004,22 8.65700000000004,19.1049999999996 8.65700000000004,19.1049999999996 C8.65700000000004,19.1049999999996 15.3,19.1049999999996 15.3,19.1049999999996 Z ")

					#main_map.map_block
					.map_info.mapInfoBlock
						.map_info_inner.color_white.fw_700
							.gl_caption.map_info_caption.fz_24.text_upper
								span ПИТОМНИК
								span.color_green  LUGOVSKOY 
							p.fz_16 Адрес: Московская область, ул. Покровка, д.25
							p.fz_20 Звоните: +7 (495) 623-96-83 <br>(ежедневно с 10:00 до 24:00) 
							p.fz_20
								| Пишите: 
								a.link_inherit(href='mailto:Пишите: info@lugovskoy.ru') info@lugovskoy.ru

							.map_info_hide_btn.mapInfoHide
								.map_info_hide_icon
									svg(version="1.1", baseprofile="full", height="23px", width="25px")
										path( d="M15.3,19.1049999999996 C20.657,19.1049999999996 25,14.8280000000004 25,9.55299999999988 C25,4.27700000000004 20.657,0 15.3,0 C15.3,0 4.947,0 4.947,0 C4.947,0 4.947,4.05400000000009 4.947,4.05400000000009 C4.947,4.05400000000009 15.3,4.05400000000009 15.3,4.05400000000009 C18.383,4.05400000000009 20.884,6.51500000000033 20.884,9.55299999999988 C20.884,12.5900000000001 18.383,15.0510000000004 15.3,15.0510000000004 C15.3,15.0510000000004 8.65700000000004,15.0510000000004 8.65700000000004,15.0510000000004 C8.65700000000004,15.0510000000004 8.65700000000004,12.1559999999999 8.65700000000004,12.1559999999999 C8.65700000000004,12.1559999999999 0,17.0780000000004 0,17.0780000000004 C0,17.0780000000004 8.65700000000004,22 8.65700000000004,22 C8.65700000000004,22 8.65700000000004,19.1049999999996 8.65700000000004,19.1049999999996 C8.65700000000004,19.1049999999996 15.3,19.1049999999996 15.3,19.1049999999996 Z ")

					footer.footer.fz_14.fw_500
						.footer_inner.clearfix
							.copyright Copyright © 2014 |  lugovskoy.ru  |  Все права защищены. 
							.dev_block
								span Разработка сайта 
								a.dev_link(href='#') marcciatti